In [ ]:
# 1. Fetch the record having VendorID as '2' AND tpep_pickup_datetime as '2017-10-01 00:15:30' AND tpep_dropoff_datetime as '2017-10-01 00:25:11' AND passenger_count as '1'
# 2. Filter all the records having RatecodeID as 4.
# 3. Group By all the records based on payment type and find the count for each group.

In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Pyspark-usecase").getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/19 16:43:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
df = spark.read.format("csv").option("header",True).option("inferSchema",True).load("/Users/ali/Desktop/insulate/trip_yellow_taxi.csv")

In [6]:
df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2017-07-01 00:06:25|  2017-07-01 00:10:50|              1|          1.2|         1|                 N|         249|          90|           1|        5.5|  0.5|    0.5|      1.35|         0.0|                  0.3|        8.15|
|       1| 2017-07-01 00:20:04|  2017-07-01 00:21:38|              2|          0.2|         1|                 N|         249|         158|           2|        3.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.3|
|       1| 2017-07-01 00:44:10|  2017-07-01 00:59:29|              1|          4.3|         1|                 N|         100|          45|           1|       15.5|  0.5|    0.5|      3.35|         0.0|                  0.3|       20.15|
|       1| 2017-07-01 00:07:33|  2017-07-01 00:31:30|              1|          8.3|         1|                 N|         138|         162|           1|       27.0|  0.5|    0.5|       6.8|        5.76|                  0.3|       40.86|
|       1| 2017-07-01 00:01:17|  2017-07-01 00:16:18|              1|          1.9|         1|                 N|         107|         158|           1|       10.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [7]:
df.filter(df.VendorID=='2').filter(df.tpep_pickup_datetime=='2017-10-01 00:15:30').filter(df.tpep_dropoff_datetime=='2017-10-01 00:25:11').filter(df.passenger_count=='1').show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2017-10-01 00:15:30|  2017-10-01 00:25:11|              1|         2.17|         1|                 N|         141|         142|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|
|       2| 2017-10-01 00:15:30|  2017-10-01 00:25:11|              1|         2.17|         1|                 N|         141|         142|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|
|       2| 2017-10-01 00:15:30|  2017-10-01 00:25:11|              1|         2.17|         1|                 N|         141|         142|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|
|       2| 2017-10-01 00:15:30|  2017-10-01 00:25:11|              1|         2.17|         1|                 N|         141|         142|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|
|       2| 2017-10-01 00:15:30|  2017-10-01 00:25:11|              1|         2.17|         1|                 N|         141|         142|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [9]:
df.createOrReplaceTempView("taxi_data")

In [10]:
spark.sql("select * from taxi_data where VendorID=='2' and tpep_pickup_datetime=='2017-10-01 00:15:30' and tpep_dropoff_datetime=='2017-10-01 00:25:11' and passenger_count=='1'").show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2017-10-01 00:15:30|  2017-10-01 00:25:11|              1|         2.17|         1|                 N|         141|         142|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|
|       2| 2017-10-01 00:15:30|  2017-10-01 00:25:11|              1|         2.17|         1|                 N|         141|         142|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|
|       2| 2017-10-01 00:15:30|  2017-10-01 00:25:11|              1|         2.17|         1|                 N|         141|         142|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|
|       2| 2017-10-01 00:15:30|  2017-10-01 00:25:11|              1|         2.17|         1|                 N|         141|         142|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|
|       2| 2017-10-01 00:15:30|  2017-10-01 00:25:11|              1|         2.17|         1|                 N|         141|         142|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [11]:
df.filter(df.RatecodeID=='4').show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2017-12-01 00:42:45|  2017-12-01 01:04:59|              1|         23.3|         4|                 N|         265|          82|           3|      115.5|  0.5|    0.5|       0.0|         0.0|                  0.3|       116.8|
|       1| 2017-12-01 02:49:44|  2017-12-01 02:51:13|              1|          0.0|         4|                 N|         265|         265|           3|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.8|
|       1| 2017-12-01 02:52:20|  2017-12-01 02:54:50|              1|          0.7|         4|                 N|         265|         265|           3|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|
|       2| 2017-12-01 00:37:31|  2017-12-01 01:17:51|              1|        21.12|         4|                 N|         209|         265|           1|       64.5|  0.5|    0.5|     13.16|         0.0|                  0.3|       78.96|
|       2| 2017-12-01 00:11:57|  2017-12-01 00:57:45|              1|        16.54|         4|                 N|          48|         265|           1|       54.5|  0.5|    0.5|     16.74|         0.0|                  0.3|       72.54|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [14]:
df.groupBy("payment_type").sum("payment_type").show()

+------------+-----------------+
|payment_type|sum(payment_type)|
+------------+-----------------+
|           1|            14322|
|           3|             7452|
|           4|             1584|
|           2|            14904|
+------------+-----------------+